.cart-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-headers-cont {
  display: none;
}

@media screen and (min-width: 768px) {
  .cart-headers-cont {
    display: flex;
  }
}

.cart-title-item {
  padding-left: 80px;
  width: 50%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #475569;
}

.qunatity-and-price {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (min-width: 786px) {
  .qunatity-and-price {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cart-header-qunatity {
  text-align: center;
  width: 50%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #475569;
}

.cart-price {
  text-align: center;
  width: 50%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #475569;
}

.cart-list {
  list-style-type: none;
  padding-left: 0px;
}
